{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="name">식당 이름</label>
            <input type="text" class="form-control" name="name" id="name"
                  readonly placeholder="{{ restaurant.restaurant}}">
        </div>
        <div class="form-group">
            <label for="userid">아이디</label>
            <input type="text" class="form-control" name="userid" id="userid"
                   readonly placeholder="{{ g.user.userid }}">
        </div>
        <div class="form-group">
            <label for="usernum">전화번호</label>
            <input type="usernum" class="form-control" name="usernum" id="usernum"
                    value="{{ form.usernum.data or '' }}">
        </div>
        <div class="form-group">
            <label for="peoplenum">예약인원</label>
            <input type="number" name="peoplenum" min="1" id="peoplenum">
            <label for="create_date">예약시간</label>
            <input type="datetime-local" format='yyyy-MM-DD HH:mm:ss' class="form-control datetimepicker-input" id="search_end_input" name="search_end_input" data-target="#search_end_time"/>
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
<script>
        $(function () {
        end_time = $('#search_end_input').val();
        $('#search_end_time').datetimepicker({ icons: { time: 'far fa-clock' }, format: 'yyyy-MM-DD HH:mm:ss' });
    });
</script>
{% endblock %}