{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
     <div class="row my-3">
        <div class="col-6">
        </div>
    </div>
        <table class="table">
            <thead>
<!--                <tr>-->
<!--                <div class="input-group">-->
<!--                    <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}" placeholder="식당,태그,종류 등을 검색하세요!">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn btn-primary" type="button" id="btn_search" href="#">찾기</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                </tr>-->
                <tr class="thead-dark">
                    <th>레스토랑</th>
                    <th>주소</th>
                    <th>태그</th>
                    <th>종류</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            에토미 혹시 최근에 restaurant_views에 list 만진적 있으면 한 번 확인해볼래? 검색창에 키워드로 검색이 안돼여 ex. 레스토랑1 검색하면 다 나옴 <br>
            에토미 혹시 최근에 restaurant_views에 list 만진적 있으면 한 번 확인해볼래? 검색창에 키워드로 검색이 안돼여 ex. 레스토랑1 검색하면 다 나옴

            {% if restaurant_list %}
            {% for restaurant in restaurant_list.items %}
            <tr>
                <td>
                    <a>{{ restaurant.restaurant }}</a>
                </td>
                <td>
                    <a>{{ restaurant.address }}</a>
                </td>
                <td>
                    <a>{{ restaurant.tag.name }}</a>
                </td>
                <td>
                    <a>{{ restaurant.type.name }}</a>
                </td>
                <td>
                    {% if like_list==0 %}
<!--                    이거 왜 있어야하지?-->
<!--                        <input type="button" value="팝업창 호출1" onclick="showPopup();">-->
                    {% else %}
<!--                    <input type="button" value="팝업창 호출3" onclick="showPopup();">-->
                            {% if restaurant.restaurant in like_list %}
                                <a href="{{ url_for('restaurant.detail',restaurant_id=restaurant.id)}}"><button button class="btn btn-outline-danger" type="button">예약하기</button></a>
                                <a href="javascript:void(0)" class="dliked"
                                data-uri="{{ url_for('restaurant.delete_like',restaurant_id=restaurant.id) }}"><img src="/static/img/like.png" width="30" height="30"></a>
                                <input type="button" value="팝업창 호출3" onclick="showPopup(restaurant=id);">
                                <script type="text/javascript">
                                    function showPopup() {
                                        window.open("{{ url_for('restaurant._popup', restaurant_id=restaurant.id) }}","a","width=600, height=600, left=100, top=50");
                                    }
                                </script>
                            {% else %}
                                <a href="{{ url_for('restaurant.detail',restaurant_id=restaurant.id)}}"><button button class="btn btn-outline-danger" type="button">예약하기</button></a>
                                <a href="javascript:void(0)" class="liked"
                                data-uri="{{ url_for('restaurant.like',restaurant_id=restaurant.id) }}"><img src="/static/img/unlike.png" width="30" height="30"></a>
                                <input type="button" value="팝업창 호출3" onclick="showPopup(restaurant=id);">
                                <script type="text/javascript">
                                    function showPopup() {
                                        window.open("{{ url_for('restaurant._popup', restaurant_id=restaurant.id) }}","a","width=600, height=600, left=100, top=50");
                                    }
                                </script>
                        {% endif %}
                    {% endif %}
<!--                    a태그, url for, <a href="{{ url_for('restaurant.detail',restaurant_id=restaurant.id)}}">-->
<!--                   <input type="button" value="팝업창 호출3" onclick="showPopup();">-->
<!--                    <script type="text/javascript">-->
<!--                        function showPopup() {-->
<!--                            window.open("{{ url_for('restaurant._popup', restaurant_id=restaurant.id) }}","a","width=600, height=600, left=100, top=50");-->
<!--                        }-->
<!--                    </script>-->
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">정보가 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
      <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if restaurant_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ restaurant_list.prev_num }}" style="background-color: rgb(255,0,85); border: 0;">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in restaurant_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != restaurant_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" style="background-color: rgb(255,0,85); border: 0;">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if restaurant_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ restaurant_list.next_num }}" style="background-color: rgb(255,0,85); border: 0;">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#" >다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    </div>
</div>
<form id="searchForm" method="get" action="{{ url_for('restaurant._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
</form>
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('searchForm').submit();
});

const liked_elements = document.getElementsByClassName("liked");
Array.from(liked_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("찜 리스트에 추가되었습니다.")) {
            location.href = this.dataset.uri;
        };
    });
});

const delete_liked_elements = document.getElementsByClassName("dliked");
Array.from(delete_liked_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("찜 리스트에서 삭제되었습니다.")) {
            location.href = this.dataset.uri;
        };
    });
});


</script>
{% endblock %}



