{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
         <table class="table my-5">
                <thead>
                    <tr class="thead-dark">
                        <th>레스토랑</th>
                        <th>주소</th>
                        <th>태그</th>
                        <th>종류</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if liked_list %}
                {% for liked in liked_list.items %}
                <tr>
                    <td>
                        <a>{{ liked.restaurant_name }}</a>
                    </td>
                    <td>
                        <a>{{ liked.address }}</a>
                    </td>
                    <td>
                        <a>{{ liked.tag_name }}</a>
                    </td>
                    <td>
                        <a>{{ liked.type_name }}</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">정보가 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
          <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if liked_list.has_prev %}
            <li class="page-item">
                <a class="page-link" href="?page={{ liked_list.prev_num }}" style="background-color: rgb(255,0,85); border: 0;">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% for page_num in liked_list.iter_pages() %}
                {% if page_num %}
                    {% if page_num != liked_list.page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}" >{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#" style="background-color: rgb(255,0,85); border: 0;">{{ page_num }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if liked_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ liked_list.next_num }}" style="background-color: rgb(255,0,85); border: 0;">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        </table>
    </div>
    <form id="searchForm" method="get" action="{{ url_for('restaurant._list') }}">
        <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    </form>
    <script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('searchForm').submit();
    });
    </script>
    {% endblock %}



