<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>Personal Restaurant</title>

    <style>

        *{
            font-family: 'Noto Sans KR', sans-serif;
        }

        .navbar-brand{
            font-family: 'Gugi', cursive;
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>

    <script language="javascript">
        function showPopup() {window.open("restaurant_detail.html", "test", "width=400, height=300, left=100, top=50);}
    </script>

</head>
<body>
{% include "navbar.html" %}

{% block content %}
{% endblock %}
<script src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>