{% extends 'base.html' %}
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet2.jpg" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">히레로 주문했는데 정말 사진처럼 육즙이 초ㅑ르르...~~~ 한입 베어물면 육즙이 촤악~ 너무 맛있게 잘먹었어요</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet11.jpg" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">튀김은 바삭하고 고기는 촉촉하니 부드럽고!! '새우튀김'. 엄청 큰 타이거 새우를 얇은 면으로 감싸서 튀겨낸 새우 튀김!! 와 이거 맛있어요!! 새우가 엄청 커서 이거만 먹어도 은근 배부름ㅋㅋ 하얀색 트러플 소스가 함께 나오는데, 이 소스도 맛있더라구요!! 이건 진짜 추천!!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet12.jpg" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">왕돈처럼 소스가 부우져있지만 일본식돈까스처럼 고기가 두툼하다. 씹는 맛이 있는 고기라서 만족감이 배가 되는 듯 했다. 소스도 정말 오랜만에 먹는 맛있는 소스였다.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet5.jfif" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">안심이 정말 부드럽고 튀김옷은 딱딱치 않게 잘게 부서지는 바사사삭함이어서 아주 좋다. 육즙도 가득 차있음. 근데 여기는 등심만큼이나 다른 것들도 다 맛있었음 ㅠ 특등심은 기름지고 해서 한정판이라는 꼬심에도 잘 안넘어가는데 여기 특등심 느끼하지않고 맛있었다…</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet1.jfif" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">안심이 정말 부드럽고 튀김옷은 딱딱치 않게 잘게 부서지는 바사사삭함이어서 아주 좋다. 육즙도 가득 차있음. 근데 여기는 등심만큼이나 다른 것들도 다 맛있었음 ㅠ 특등심은 기름지고 해서 한정판이라는 꼬심에도 잘 안넘어가는데 여기 특등심 느끼하지않고 맛있었다…</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet7.jpg" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">안심이 정말 부드럽고 튀김옷은 딱딱치 않게 잘게 부서지는 바사사삭함이어서 아주 좋다. 육즙도 가득 차있음. 근데 여기는 등심만큼이나 다른 것들도 다 맛있었음 ㅠ 특등심은 기름지고 해서 한정판이라는 꼬심에도 잘 안넘어가는데 여기 특등심 느끼하지않고 맛있었다…</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet8.jpg" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">육즙도 가득 차있음. 근데 여기는 등심만큼이나 다른 것들도 다 맛있었음 ㅠ 특등심은 기름지고 해서 한정판이라는 꼬심에도 잘 안넘어가는데 여기 특등심 느끼하지않고 맛있었다…</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet9.jfif" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">일본식 카츠집이 점점 늘어나고있고, 맛있는 곳도 정말 많은데.. 카츠집 중 단연 세 손가락 안에 드는 곳입니다.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/static/img/cutlet10.jfif" width="100%" height="100%" >
            <div class="card-body">
              <p class="card-text">25년을 장사해온 곳 답게 내공있는 맛에 놀랐어요. 로스까스 고쟁과 히레까스 고쟁 주문.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="footer" style="position: absolute; width: 100%; height: 60px; line-height: 60px; background-color: #f7323f;">
  <div class="container">
    <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">제휴문의 | </span></a>
    <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">이용약관 | </span></a>
    <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">개인정보처리방침 | </span></a>
    <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">공지사항</span></a><br>
  </div>
</footer>

{% endblock %}