{% extends 'base.html' %}
{% block content %}
  <main>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/pet4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-start">
            <h1>For Pet owners</h1>
            <p>반려동물과 함께하기 원하는 당신을 위해, 모아두었어요</p>
            <p><a class="btn btn-lg btn-primary" href="#" style="background:#f7323f; border:0" >반려동물 동반 가능 식당 확인하기</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/nokids.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>For Quiet Time</h1>
            <p>한적한 식당을 원하는 당신을 위해, 모아두었어요</p>
            <p><a class="btn btn-lg btn-primary" href="#" style="background:#f7323f;border:0">노키즈존 식당 확인하기</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/vegetarian7.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-end">
            <h1>For Vegetarians</h1>
            <p>비건식당을 원하는 당신을 위해, 모아두었어요</p>
            <p><a class="btn btn-lg btn-primary" href="#" style="background:#f7323f;border:0">비건식당 확인하기</a></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container my-3">
<!--        <div class="input-group my-3">-->
<!--            <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}" placeholder="식당,태그,종류 등을 검색하세요!">-->
<!--            <div class="input-group-append">-->
<!--                <a href="{{ url_for('restaurant._list') }}"><button class="btn btn btn-primary" type="button" id="btn_search">찾기</button></a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block text-primary">TOP 10</strong>
                  <h3 class="mb-1">돈가스 맛집 TOP 10</h3>
                  <div class="mb-1 text-muted">in Seoul</div>
                  <p class="card-text mb-auto">스윙스도 먹고 반한 돈가스 맛집, 소개팅 성공 확률 UP!!</p>
                  <a href="#" class="stretched-link">더 알아보기</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src="/static/img/pet4.jpg" class="d-block" width="200" height= "250" alt="...">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block text-success">후기 BEST5</strong>
                  <h3 class="mb-0">후기 BEST5 둘러보기</h3>
                  <div class="mb-1 text-muted">in Seoul ..etc</div>
                  <p class="mb-auto">부모님이나 친구 데리고 가기 딱 좋은 후기 맛집 BEST5</p>
                  <a href="#" class="stretched-link">더 알아보기</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src="/static/img/pet4.jpg" class="d-block" width="200" height= "250" alt="...">
                </div>

              </div>
            </div>
        </div>
      </div>
  </main>
{% endblock %}