<!-- 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg" style="background:#f7323f; border: 0">
        <div class="container-fluid d-flex flex-wrap justify-content-center mx-2">
            <div class="collapse navbar-collapse d-flex flex-wrap justify-content-start">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a href="{{ url_for('main.index')}}" class="logo"><img class="logoImage" src="/static/img/logoImageWhiteV.png" width="30" height="30"></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" style="font-family: 'Gugi', cursive; color: white" href="{{ url_for('main.index')}}">Personal Restaurant</a>
                    </li>
                </ul>
            </div>
                    <form class="input-group" style="width: 50%; " id="searchForm" method="get" action="{{ url_for('restaurant._list') }}">
                    <input id="kw" name="kw" type="text"  class="form-control" value="{{ kw or '' }}" placeholder="원하는 식당을 검색하세요!"
                    onkeypress="show_name(event)" style="border-radius:10px;">
                    </form>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex flex-wrap justify-content-end" id="navbarSupportedContent">
                {% if g.user %}
                <ul class="navbar-nav mb-lg-0 dflex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{ url_for('auth.logout') }}">{{ g.user.userid }} (로그아웃)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{ url_for('reservation._list')}}">예약확인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{ url_for('reservation.like')}}">찜목록</a>
                    </li>
                </ul>
                {% else %}
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{ url_for('auth.signup') }}">계정생성</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{{ url_for('auth.login') }}">로그인</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
