{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">

      <div class="container-fluid py-5" style="background-image: url(/static/img/review.jfif)">
        <h1 class="display-5 fw-bold" style="color:#fff">[강남] 미라이 4.8</h1>
        <p class="col-md-8 fs-4" style="color:#fff">높은 망플 평점이 이해가 가는 집 마구로치즈아에는 참치등살, 아보카도, 치즈, 계란 노른자가 아주 조화롭게 잘 어우러졌다. 맛있는 에피타이저. 다음은 대표메뉴 시바산도. 고등어, 감자샐러드, 머스터드, 시소, 무, 버터를 발라 구운 식빵까지 그냥 맛있는 디쉬. 일단 여기 가면 무조건 시켜야할듯. 마지막은 아와비 소바를 시켰다. 제일 맛있었다. 게우, 마요네즈, 후추 베이스로 만든 소스가 일품. 매우 만족스로운 맛과 분위기, 서비스. 재방문 의사 높다.</p>
        <a href="https://www.mangoplate.com/restaurants/iMRRP69qtkeO"><button class="btn btn-outline-light" style="background:#f7323f;border:0" type="button">바로가기</button></a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6" >
        <div class="h-100 p-5 text-white bg-dark rounded-3" style="background-image: url(/static/img/review1.jpg)">
          <h2>[부산] 이재모피자 4.4</h2>
          <p>치즈가 너무너무 맛있어요! 토핑의 특별함을 중요시 한다면 다른 전문 피자집이나 프랜차이즈를 더 좋아하실 것 같은데 저는 동네피자집 맛(?)도 좋아해서 맘에 쏙 들었던 곳이예요. 오븐 스파게티도 완전 맛있게 먹었습니다. 치즈가 맛있으니 다 맛있게 느껴지는! 탄산음료 무한리필인 것도 감동적!</p>
          <a href="https://www.mangoplate.com/restaurants/iSH-kv4Shm"><button class="btn btn-outline-light" style="background:#f7323f;border:0" type="button">바로가기</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3" style="background-image: url(/static/img/review3.jpg)">
          <h2 style="color:#fff">[합정] 쿡앤북 4.5</h2>
          <p style="color:#fff">식사도 파는 비건 카페 진짜 맛있음</p>
          <a href="https://www.mangoplate.com/restaurants/iSH-kv4Shm"><button class="btn btn-outline-light" style="background:#f7323f;border:0" type="button">바로가기</button></a>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch my-4">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3" style="background-image: url(/static/img/review4.jfif)">
          <h2>[마포] 셰발레리 Chez Valerie 4.7</h2>
          <p>채식하지 않는 사람의 비건 식당 체험. 최근 맛 본 많은 채식 메뉴들 중 가장 만족스러운 맛이었음 버섯을 좋아해서 그런지 버섯 크림 뇨끼도 괜찮았고, 샹피뇽 피자도 괜찮았습니다. 테이블이 몇 개 없어 타이밍을 잘못 맞추면 웨이팅이 길 수 있어요.</p>
          <a href="https://www.mangoplate.com/restaurants/iSH-kv4Shm"><button class="btn btn-outline-light" style="background:#f7323f;border:0" type="button">바로가기</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3" style="background-image: url(/static/img/review5.jpeg)">
          <h2 style="color:#fff">[강서] 공간녹음 4.5</h2>
          <p style="color:#fff">비건 레스토랑이라서 방문했는데 공간 자체도 너무 멋있고, 금,토에는 공연도 있어서 정말 좋았어요.  모든 메뉴에 식물성 재료만 사용하시고, 안주로 먹기에 정말 완벽하게 맛있습니다!중요한 기념일에 비건식사로 탄소배출도 줄이고 분위기도 즐겨보세요~~</p>
          <a href="https://www.mangoplate.com/restaurants/iSH-kv4Shm"><button class="btn btn-outline-light" style="background:#f7323f;border:0" type="button">바로가기</button></a>
        </div>
      </div>
    </div>

</div>
  <footer class="footer" style="position: absolute; width: 100%; height: 60px; line-height: 60px; background-color: #f7323f;">
    <div class="container">
      <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">제휴문의 | </span></a>
      <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">이용약관 | </span></a>
      <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">개인정보처리방침 | </span></a>
      <a href="#" style="text-decoration:none"><span class="text-center" style="color:#fff">공지사항</span></a><br>
    </div>
  </footer>

{% endblock %}